.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.record-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  align-items: center;
  margin-top: 50px;
}

.card {
  width: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.card-thin {
  width: 50%;
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #efefef;
  font-size: 15px;
  justify-content: center;
  margin-top: 50px;
}

.card-thin span {
  font-weight: bold;
  margin-right: 5px;
}

.samesizebutton {
  width: 130px;
  height: 50px;
}

.bottom-half-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 40%;
}

.top-half-card {
  height: 60%;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background: #efefef;
}

.detail-text span{
  font-weight: bold;
  margin-right: 5px;
}

.progress {
  color: green;
}

.aircraft-table-head {
  background-color: #3a3a3a;
}

.MuiTableRow-head .light-color {
  color: #efefef;
}